# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [3]:
# Write your code here
print("Data", "Science", "Mentorship", "Program", sep = '-', end = '-started-')
print("By", "CampusX", sep = '-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [8]:
# Write your code here
C = float(input("What's your temperature "))

F = C * (9/5) + 32
print(round(F), "F")

What's your temperature 37
99 F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [11]:
# Write your code here
n1 = int(input())
n2 = int(input())
print("Original Numbers as inputs: ")
print(n1, n2)

temp = n1
n1 = n2
n2 = temp

print("After the altration: ")
print(n1, n2)

12
24
Original Numbers as inputs:
12 24
After the altration:
24 12

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [20]:
# Write your code here
print("Please provide coordinates for Point 1: ")
x1, y1 = input().split(" ")

print("Please provide coordinates for Point 2: ")
x2, y2 = input().split(" ")

distance = ((int(x2) - int(x1))**2 + (int(y2) - int(y1))**2)**0.5
print(distance)

Please provide coordinates for Point 1:
0 0
Please provide coordinates for Point 2:
0 0
0.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
p = int(input('Enter amount'))
t = int(input('Enter time period'))
r = float(input('Enter rate'))

interest = (p*t*r)/100

print('the interest is',interest)

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

Hint - Thus, the sum of the squares of first n natural numbers =  n(n+1)(2n+1)/6

In [21]:
# Write your code here
# Write your code here
n = int(input('enter the number'))

result = (n*(n+1)*(2*n + 1))/6
print(result)

enter the number10
385.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

Hint - an = a + (n â€“ 1)d

In [23]:
# Write your code here
# Write your code here
first_term = int(input('enter 1st term '))
second_term = int(input('enter 2nd term '))
n = int(input('enter the value of n '))

d = second_term - first_term

an = first_term + (n-1)*d

print(an)

enter 1st term 1
enter 2nd term 2
enter the value of n 10
10

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [25]:
# Write your code here
# Write your code here
n1 = int(input('num1 '))
d1 = int(input('den1 '))
n2 = int(input('num2 '))
d2 = int(input('den2 '))

rn = n1*d2 + n2*d1
rd = d1*d2
result = rn/rd

print('{}/{}'.format(rn,rd))
print(result)

num1 10
den1 20
num2 10
den2 20
400/400
1.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [30]:
# Write your code here
h_t = float(input('height '))
b_t = float(input('breadth '))
l_t = float(input('length '))

h_g = float(input('height of glass '))
r_g = float(input('radius of the glass '))

vol_tank = h_t*b_t*l_t
# print(vol_tank)
vol_glass = 3.14*r_g*r_g*h_g
# print(vol_glass)

print("No of glasses would be ", int(vol_tank/vol_glass))

height 10
breadth 19
length 10
height of glass 5
radius of the glass 2
1900.0
62.800000000000004
No of glasses would be  30