In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
# Check pandas __version__
pd.__version__

'1.4.2'

In [4]:
pd.Series()

C:\Users\admin\AppData\Local\Temp\ipykernel_24768\2031691219.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [5]:
# Create Series pd.Series
# 1, 2, 3, 4, 5

pd.Series([1, 2, 3, 4, 5], ['apurba', 'rohit', 'c', 'd', 'e'])

apurba    1
rohit     2
c         3
d         4
e         5
dtype: int64

In [6]:
# if you define the sequence then it will work accordingly
# other wise it will work with default constraints

pd.Series(index = [1, 2, 3, 4, 5], data = ['a', 'b', 1, 2, 3])

1    a
2    b
3    1
4    2
5    3
dtype: object

In [7]:
pd.Series([6, 7, 8, 9, 10], [1, 2, 3, 4, 5])

1     6
2     7
3     8
4     9
5    10
dtype: int64

In [8]:
# Series through Dictionary values.

run_km = {"day1" : 10.01,
          "day2" : 12.24,
          "day3" : 15.78}

series = pd.Series(run_km)
print(series)

day1    10.01
day2    12.24
day3    15.78
dtype: float64

In [9]:
data = {'a' : 0.,
        'b' : 1.,
        'c' : 2.}

s = pd.Series(data, index = ['b', 'd'])

In [10]:
print(s)

b    1.0
d    NaN
dtype: float64

In [11]:
s1 = pd.Series(data, index = ['x', 'y', 'z'])
s1

x   NaN
y   NaN
z   NaN
dtype: float64

In [12]:
# if you want to copy same element in differnet indexes

s = pd.Series(10, index = [0, 1, 2, 3, 4, 5])
print(s)

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [13]:
# s = pd.Series([10, 20], index = [0, 1, 2, 3, 4])
# print(s)

# this won't work
# as you are giving two values and 5 indexes

In [14]:
# Repeat the series
## Single value repeat(n)
pd.Series(10).repeat(5)

0    10
0    10
0    10
0    10
0    10
dtype: int64

In [15]:
## multiple value repeat([n, m])
pd.Series([10, 20]).repeat([5, 2])

0    10
0    10
0    10
0    10
0    10
1    20
1    20
dtype: int64

In [16]:
# Some more functions just with tab

In [17]:
s = pd.Series(data = [10, 20, 30, 40, 50], index = [1, 2, 3, 4, 5])
print(s)

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [18]:
# [start:end]

In [20]:
# Access data from Series
# By index
# s[3]

# By first n numbers
# s[-1]

# By Last n numbers
# s[1:-1]

# By Labeled index
# s[4]

# By multiple label index

# s[[3, 4]]

30

* Some important / most frequently used functions in pandas series.

In [21]:
ser = pd.Series([1, 2, -3, -4, 5])
ser1 = pd.Series(['a', 'b', 'c', 'd', 'e'])

In [22]:
ser

0    1
1    2
2   -3
3   -4
4    5
dtype: int64

In [25]:
# Abs [Absolute (All positive)]
ser.abs()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [26]:
# Agg (aggregate values) [min...]
ser = pd.Series([1, 2, 3, 4, 5, 20, 100, 200, -1])
ser.agg([min, max, sum])

min     -1
max    200
sum    334
dtype: int64

In [27]:
# append (concatenate 2 series) .append(s)

In [28]:
ser1 = pd.Series([1, 2, 3, 4, 5, 20, 100, 200, -1])
ser2 = pd.Series([10, 20, 30, 40, 50])

In [29]:
ser1

0      1
1      2
2      3
3      4
4      5
5     20
6    100
7    200
8     -1
dtype: int64

In [30]:
ser2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [31]:
ser3 = ser1.append(ser2)
ser3

C:\Users\admin\AppData\Local\Temp\ipykernel_24768\937921848.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser3 = ser1.append(ser2)

0      1
1      2
2      3
3      4
4      5
5     20
6    100
7    200
8     -1
0     10
1     20
2     30
3     40
4     50
dtype: int64

In [32]:
ser3[0]

0     1
0    10
dtype: int64

In [34]:
ser3.reset_index(drop = True)

0       1
1       2
2       3
3       4
4       5
5      20
6     100
7     200
8      -1
9      10
10     20
11     30
12     40
13     50
dtype: int64

<b>Data Frames</b>

* Rows and Columns

In [35]:
import pandas as pd

In [36]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [38]:
# Create Dataframe

myFirstDataSet = {
    'name' : ["tom", "jerry", "spike", "abc", "def", "fgjs", "dsadfa", "asdskjdf"],
    'age' : [10, 12, 14, 15, 16, 15, 50, 80]
}

dataframe = pd.DataFrame(myFirstDataSet)
dataframe
# print(dataframe)

       name  age
0       tom   10
1     jerry   12
2     spike   14
3       abc   15
4       def   16
5      fgjs   15
6    dsadfa   50
7  asdskjdf   80

In [40]:
abc = [['tom', 10], ['jerry', 12], ['spike', 14]]

df = pd.DataFrame(abc,['a', 'b', 'c'], columns = ['Name', "Age"]) #, dtype = float
df

    Name  Age
a    tom   10
b  jerry   12
c  spike   14

In [ ]:
# 3:27